
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    gap: 15px;
    background-color: black; 
}

.iconH1,.iconH2,.iconH3,.iconH4,.iconH4,.iconH6,.iconH5{
    color: white;
    display: flex;
    flex-direction: column;
}
.imgH1,.imgH2,.imgH3,.imgH4,.imgH5,.imgH6{
    height: 8vh;
    width: 4vw;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.pHead{
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.imgH5{
    margin-left: 0.3vw;
}
.logoHeader{
    display: flex; 
    flex-wrap: wrap; 
    gap: 35px;
    flex-grow: 1; 
}
/* FLEX GROW PERMET DE POUSSER LES AUTRES ELEMENTS A DROITE  */
.logoH{
    height: 10vh;
    align-items: center;
    margin-top: 8px;
    justify-content: start;
}
.sectionBleu{
    height: 25vh;
    background-color: rgb(51,77,92);
    display: flex;
    margin-bottom: 0;
}
.logoPackage{
    height: 20vh;
}
.package{
    width: 30%;
}
.packageText{
    width: 70%;
    color: white;
    margin-right: 8vh;
    display: inline;
}

.textPack{
    flex-wrap: wrap;
    justify-content: center;
    font-size: 5vh;
    margin-bottom: 0;
    margin-top: 4vh;
    margin-left: 16vh;
    line-height: 1.6;
    letter-spacing: 0.5px;
}
.textPack1{
    flex-wrap: wrap;
    display: inline;
    font-size: 3.4vh;
    margin-top: 1vh;
    margin-left: 16vh;
    letter-spacing: -1px;
}
.package{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5vw;
}
.Eclosion, .Evolution, .Envol{
    height: 50vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
}
.motEclosion{
    padding: 1vh;
    border: solid 1px rgb(51 77 92);
    display: flex;
    background-color: rgb(51 77 92);
    justify-content: center;
    font-size: 5vh;
    color: white;
    height: 7vh;
}
.Eclosion>.divEclosion{
    margin-top: -1%;
    margin-left: 40%;
    margin-right: 40%;
}
.imgEclosion, .imgEvolution{
    height: 30vh;
    margin-top: -2%;
}
.textEclosion{
    display: flex;
    justify-content: space-around;
}
.divEcl, .divEvo{
    width: 30%;
}
.divEcl1, .divEvo1{
    width: 50%;
    padding-right: 3%;
    font-size: 2.5vh;
    margin-right: 10%;
}
.logobeige{
    height: 20vh;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
}
.logobeige1{
    height: 25vh;
    background-color: beige;
    display: flex;
    justify-content: center;
}
.beigelogo1, .beigelogo2,.beigelogo3,.beigelogo4{
    height: 12vh;
    margin-top: 2vh;
}
.beigeText1{
    margin-left: 1vw;
}
.beigelogo2{
 margin-left: 1vw;
}
.beigelogo3{
    margin-left: 1vw;
}
.beigelogo4{
    margin-left: 0.5vw;
}
.Evolution>div>.motEvolution{
    margin-left: 40%;
    margin-right: 40%;
}
.motEvolution{
    padding: 1vh;
    border: solid 1px rgb(51 77 92);
    display: flex;
    background-color: rgb(51 77 92);
    justify-content: center;
    font-size: 5vh;
    color: white;
    height: 7vh;
}

.beigelogosingle, .beigelogovitrine{
    height: 12vh;
    margin-top: 2vh;
}
.beigelogosingle{
    margin-left: 0.5vw;
}
.beigelogoanalyse{
    height: 12vh;
    margin-left: 4vh;
    margin-top: 2vh;
}

footer{
    height: 25vh;
    background-color: rgb(57, 58, 59);
}
.packFooter{
 margin-top: 5vh;
}
.nomFooter{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 3vh;
    color: white;
}

.cgv{
    display: flex;
    justify-content: end;
    color: white;
}


