body{
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
}
header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    gap: 15px;
    background-color: black; 
}
.iconDiv{
   display: flex;
   justify-content: flex-end;
   background-color: black;
   color: white;
   font-size: 10px;
   gap: 25px;
}

.logoHeader, .iconHeader {
    display: flex; 
    flex-wrap: wrap; 
    gap: 35px;
}
.logoH{
    height: 35px;
    align-items: center;
    margin-top: 20px;
}
.nomIcon6{
    position: relative;
    transform: translateX(-6px)
}
.iconH6{
    height: 35px;
    position: relative;
    transform: translateY(10px) translateX(35px);
}
.iconH5{
    height: 35px;
    position: relative;
    transform: translateY(10px) translateX(28px)
}
.iconH4{
    height: 35px;
    position: relative;
    transform: translateY(10px) translateX(15px);
}
.iconH3{
    height: 35px;
    position: relative;
    transform: translateX(23px) translateY(10px);
}
.iconH2{
    height: 35px;
    position: relative;
    transform: translateY(10px) translateX(24px);
}
.iconH1{
    height: 35px;
    position: relative;
    transform: translateY(10px) translateX(27px);
}

.sectionBleu{
    height: 10vh;
    background-color: rgb(51,77,92);
}