
body{
    margin: 0;
    font-family: "Ubuntu";
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    gap: 15px;
    background-color: black; 
}

.iconH1,.iconH2,.iconH3,.iconH4,.iconH4,.iconH6,.iconH5{
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
}
.imgH1,.imgH2,.imgH3,.imgH4,.imgH5,.imgH6{
    height: 8vh;
    width: 4vw;
    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: center;
}
.pHead{
    font-size: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.imgH5{
    margin-left: 0.3vw;
}
.logoHeader{ 
    flex-wrap: wrap; 
    gap: 35px;
    flex-grow: 1.8; 
}
/* FLEX GROW PERMET DE POUSSER LES AUTRES ELEMENTS A DROITE  */
.logoH{
    height: 8vh;
    align-items: center;
    justify-content: start;
}
.sectionBleu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: rgb(51,77,92);
    padding: 0 5vw;
}

.package {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoPackage {
    max-width: 100%;
    max-height: 100%;
}

.packageText {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textPack {
    font-size: 5vh;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.textPack1 {
    font-size: 3.4vh;
    margin: 1vh 0 0;
    letter-spacing: -1px;
}

.Eclosion, .Evolution, .Envol{
    height: 50vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
}
.motEclosion{
    padding-left: 6.5vh;
    padding-right: 6.5vh;
    padding-top: 1vh;
    border: solid 1px rgb(51 77 92);
    display: flex;
    justify-content: center;
    font-size: 5vh;
    color: white;
    height: 7vh;
    background-color: rgb(51 77 92);
}
.motEnvol{
    padding-left: 9.5vh;
    padding-right: 9.5vh;
    padding-top: 1vh;
    border: solid 1px rgb(51 77 92);
    display: flex;
    justify-content: center;
    font-size: 5vh;
    color: white;
    height: 7vh;
    background-color: rgb(51 77 92);
}
.divEclosion, .DivEvo0{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Eclosion>.divEclosion{
    margin-top: -1%;
}
.imgEclosion, .imgEvolution{
    height: 30vh;
    margin-top: -2%;
}
.textEclosion{
    display: flex;
    justify-content: space-around;
}
.divEcl{
    width: 30%;
}
.divEcl1, .divEvo1{
    width: 50%;
    padding-right: 3%;
    font-size: 2.5vh;
    margin-right: 10%;
}
.logobeige{
    height: 20vh;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
}
.logobeige1{
    height: 25vh;
    background-color: beige;
    display: flex;
    justify-content: center;
}
.beigelogo1, .beigelogo2,.beigelogo3,.beigelogo4,.beigelogosingle, .beigelogovitrine{
    height: 12vh;
    margin-top: 2vh;
}
.beigeText1{
    margin-left: 1vw;
}
.beigelogo2{
 margin-left: 1vw;
}
.beigelogo3{
    margin-left: 1vw;
}
.beigelogo4{
    margin-left: 0.5vw;
}
.motEvolution{
    padding-left: 5.5vh;
    padding-right: 5.5vh;
    padding-top: 1vh;
    border: solid 1px rgb(51 77 92);
    display: flex;
    justify-content: center;
    font-size: 5vh;
    color: white;
    height: 7vh;
    background-color: rgb(51 77 92);
}
.beigelogosingle{
    margin-left: 0.5vw;
}
.beigelogoanalyse{
    height: 12vh;
    margin-left: 4vh;
    margin-top: 2vh;
}

footer{
    height: 28vh;
    background-color: rgb(57, 58, 59);
    font-size: 17vh;
}
.packFooter{
 margin-top: 5vh;
}
.packFooter3{
    margin-top: 5vh;
    letter-spacing: -0.2vh;
    margin-right: 7vh;
}
.nomFooter{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 3vh;
    color: white;
}
.cgv{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 2vh;
}
.divFooter{
    display: flex;
    gap: 3vh;
}
.divFooter3{
    gap: 3.3vh;
    display: flex;
    margin-right: -2vh;
}
.logoFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imgFooter{
    height: 9vh;
}

